.bar {
  height: 10vh;
  background-color: #ddc49f;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.radio-logo {
  position: relative;
  height: 7vh;
  width: 7vh;
  top: 1.5vh;
  left: 2vh;
  border-radius: 1vh;
  background-color: white;
  overflow: hidden;
}
.radio-logo img {
  position: absolute;
  width: 100%;
  top:0;
  bottom: 0;
  margin: auto 0;
}
i{
  color:white;
}
.controls{
  position: absolute;
  width: 40vw;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
