.content {
  background-color: #fffdf6;
  height: 90vh;
  width: 100%;
  display: flex;
  z-index: 0;
  position: absolute;
}
.age-header{
    display: block;
    height: 10vh;
    width: fit-content;
    margin: 0 auto;
    margin-top: 23vh;
}
.age-header h1{
    display: inline-block;
    text-align: center;
    font-size: 5vh;
}

.slash{
    display: inline-block;
    height: 2px;
    width: 10vh;
    background-color: black;
    border-radius: 1px;
    position: relative;
    margin: 1vh 15px;
}

.number{
    position: relative;
    font-size: 3vh;
    line-height: 5vh;
    vertical-align: text-middle;
}


.age {
  position: relative;
  display: inline-block;
  color: #83580b;
  -webkit-text-fill-color: #fffdf6; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #83580b;
  font-size: 30vh;
  height: 30vh;
  width: fit-content;
  margin: auto 4vh;
  
}
.age:hover {
  -webkit-text-fill-color: #83580b;
  transition: all 0.5s ease-in;
}
.active{
    -webkit-text-fill-color: #83580b;
  }
