body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face{
  font-family:'technology';
  src: url("../src/fonts/Technology.ttf");
}

html,
#root,
main {
  height: 90vh;
  width: 100%;
  background-color: #f9eed7;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overflow: hidden;
}
tbody tr:hover {
  background-color: rgba(240, 229, 210, 0.753);
}

.control-button {
  position: absolute;
  top: 40vh;
  left: 35vw;
  transition: left 300ms ease-in-out;
}
.control-button img {
  height: 8vh;
  opacity: 0.5;
}
.control-button img:hover {
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clickable {
  cursor: pointer;
}
.nav {
  /* display: flex; */
  /* justify-content: space-around;
  align-items: center; */
  z-index: 20;
  min-height: 10vh;
  color: rgb(138, 96, 19);
  margin-bottom: 10px;
}
.justify-content-end {
  position: absolute;
  right: 3vh;
  top: 2.5vh;
}
.nav-item {
  color: #64450b;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: rgb(247, 156, 96);
}
.nav-link {
  list-style: none;
  color: rgb(83, 55, 28);
}
.menu-button{
  position: absolute;
  left: 0.5rem;
  top: -5px;
  z-index: 20;
}
.menu-panel{
  position: absolute;
  left: 0;
  top:0;
  width: 40%;
  height: 100%;
  background-color: #fffdf6;
  z-index: 2;
}
.menu-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.164);
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s linear;
}
.menu-content{
  margin-top: 17vh;
  list-style-type: none;
}
.menu-content li{
  font-size: 3.3vw;
  font-weight: 400;
}
.menu-content a{
  color: rgb(53, 33, 8);
}
.menu-content .line{
  display: inline-block;
  margin: auto 0;
  opacity: 0;
  width: 4.5vw;
  height: 1px;
  margin-right: 2vw;
  margin-left: -4vw;
  margin-bottom: 1.3vw;
  clip-path: inset(0 100% 0 0%);
  background-color: #252120;
  transition: all 0.2s ease-in;
}
.menu-content li:hover{
  color: #573917e3;
}
.menu-content li:hover .line{
  opacity: 1;
  clip-path: inset(0 0 0 0%);
}


.h_div{
  width: 3vw;
  height: 1px;
  background-color: rgba(37, 33, 32, 0.219);
  margin: 4vh 3vw;
}
.discover {
  background-color: #fffdf6;
  height: 90vh;
  width: 100vw;
  min-height: 90vh;
  padding-top: 3vh;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
  transition: left 300ms ease-in;
  position: absolute;
  padding-left: 2vw;
  padding-right: 2vw;
}

.radio-header {
  margin-bottom: 3vh;
  height: 5vh;
}
.radio-body{
  width: 60vw;
  position: absolute;
  right: 5vw;
  top:15vh;
}
.age-wheel{
  width: 30vw;
  height: 79vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.age-wheel::-webkit-scrollbar{
  display: none;
}

.central-content{
  margin-top:15vh;
  overflow:scroll;
  height:90vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.central-content::-webkit-scrollbar{
  display: none;
}
.line{
  height: 1px;
  width: 100%;
  background-color: black;
}

.form-search {
  position: relative;
  float: right;
  right: 3vw;
  top: 18vh;
  height: 4.5vh;
  border-radius: 2.5vh;
  background-color: #f1ebe3;
  border: none;
  padding-left: 2%;
  width: 13vw;
  z-index: 3;
}
.history-control{
  position: absolute;
  top: 3vh;
  height: 4vh;
  left: calc(50px + 0.5rem);
  margin-right: 2vw;
  font-size: 2.8vh;
  color: rgb(172, 131, 77);
  transition: color 0.15s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.history-control:hover{
  color: rgb(104, 72, 14);
}
.home-img {
  position: absolute;
  width: 100vh;
  height: 50vh;
  top: 25vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.antenna{
  position: absolute;
  width: 55vh;
  height: 30vh;
  top: 7vh;
  bottom: 0;
  left: 1.5vh;
  right: 0;
  margin: 0 auto;
  transform-origin:bottom left;
  transform: rotate(0deg);
  transition: transform linear 1.5s;
}
.volume{
  position: absolute;
  width: 8.5vh;
  height: 30vh;
  top: 45.7vh;
  bottom: 0;
  left: 37.5vh;
  right: 0;
  margin: 0 auto;
  transform: rotate(108deg);
}
.scoll-title {
  position: absolute;
  overflow: hidden;
  top: 39vh;
  bottom: 0;
  left: 0;
  right: 0.4vh;
  width: 16vh;
  height: 7vh;
  margin: 0 auto;

}
.scoll-title span {
  position: absolute;
  top: 0vh;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  font-size: 4vh;
  font-family:'technology';
  color: #f1ebe3;
  white-space: nowrap;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
.logo {
  position: absolute;
  width: 20vw;
  height: 6vh;
  top: 2vh;
  left: 0;
  right: 1vh;
  margin: 0 auto;
  z-index: 10;
}

.btn-log{
  background-color: #FACF87;
  color: black;
  font-family: "Balsamiq Sans";
  font-weight: 700;
  border-radius: 3vh;
  height: 6vh;
  width: 10vw;
  border: none;
  margin-top: 5vh;
}
.danger{
  margin-top: 1.5vh;
  color: #bd0000;
  margin-left: 1vw;
  font-family: "Balsamiq Sans";
}
.log-link{
  font-family: "Balsamiq Sans";
  color:black;
  margin-left: 1vw;
}
a{
  color: black;
}
a:hover{
  color: rgb(185, 114, 28);
  text-decoration: none;
}

.app-outer {
  align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 2vw;
  padding: 0px 0;
  right: 0;
	position: absolute;
  top: 10vh;
  width: 30vw;
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 90%;
	max-width: 1000px;
  width:100%;
  animation: 1s ease-in 0s 1 clip;
}
@keyframes clip{
  from{
    clip-path: circle(1% at 50% 50%);
  }
  to{
    clip-path: circle(50% at 50% 50%);
  }
}
.tag-cloud {
  flex: 1;
}

.tag-cloud > div {
  transition: 3s;
}

.table th{
  border-top:1px solid #83580b;
}
.table td{
  border-top:none;
}
.table thead th{
  border-bottom: 1px solid #83580b ;
}
.table{
  border-bottom: 1px solid #83580b ;
}

.dynamic-number{
  position: absolute;
  top:10vh;
  right: 0;
  color: #a8926413;
  font-size: 35vh;
  font-weight: 600;
}
.country-bg{
  position: absolute;
  top:40vh;
  right: 0;
  color: #a8926413;
  font-size: 35vh;
  font-weight: 600;
}
